<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.API_Testing.TestCasesScripts.TC_01_PostMethods"/>
      <class name="com.API_Testing.TestCasesScripts.TC_02_GetPerticulerIddata"/>
      <class name="com.API_Testing.TestCasesScripts.TC_03_PUTRequest"/>
      <class name="com.API_Testing.TestCasesScripts.TC_04_PatchRequest"/>
      <class name="com.API_Testing.TestCasesScripts.TC_05_DeleteRequestData"/>
      <class name="com.API_Testing.TestCasesScripts.TC_08_CompareJSonTwoFile"/>
      <class name="com.API_Testing.TestCasesScripts.TC_06_GetALLData"/>
      <class name="com.API_Testing.TestCasesScripts.TC_07_GetDatabyKey"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
